<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
*{
  padding: 0;
  margin: 0;
  list-style: none;
}
html,body,#app,#app>div{
  width: 100%;
  height: 100%;
}
</style>
