/<template>
  <div>
    首页
    <button @click="go_login">去登录</button>
  </div>
</template>

<script>
export default {
    name:"HOME",
    data(){
        return {

        }
    },
    mounted() {
        
    },
    methods: {
        go_login() {
            this.$router.push('/login')
        }
    },
}
</script>

<style>

</style>